---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "../../layouts/layout.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = await getCollection("blog");
  const sortedPosts = allPosts.sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
  );

  return paginate(sortedPosts, { pageSize: 4 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout title="Post List">
  {
    page.data.map(({ data, body, slug }, i) => (
      <div role="listitem">
        <h3>❊ {data.title}</h3>
        <p>{data.description}</p>
        <a href={`/posts/${slug}`}>Read more</a>
        <p aria-hidden="true">· · ──────── ·§· ──────── · ·</p>
      </div>
    ))
  }
  <div>
    {
      page.url.prev && (
        <a href={page.url.prev}>
          ←<span>Previous Page</span>
        </a>
      )
    }
    {
      page.url.next && (
        <a href={page.url.next}>
          <span>Next Page</span> →
        </a>
      )
    }
  </div>
</Layout>
